# Ignore virtual environments
venv/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment-specific files
.env

# Ignore VSCode settings
.vscode/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore compiled Cython files
*.c
*.so
